/*LAYOUT RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*/LAYOUT RESET ###############################*/

/*UTILITYS*/
.flex{ display: flex;}
.wrap{ flex-wrap: wrap;}
.column{flex-direction: column;}
/*/UTILITYS ###################################*/
body{
    background-color: yellowgreen;
}


/*HEADER*/
header{
    height: 50px;
    width: 100%;
    padding: 0 10%;
    background-color: orange;
    color: white;

    font-family: 'Baloo 2', sans-serif;
    font-weight: 600;

    border-bottom: 2px solid grey;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

header .Categoria, header .Info{
    align-items: center;
}

.Logo img{
    height: 80%;
    margin-top: 6px;
}
header .Categoria div, header .Info div{
    /* di cui eliminerò il selettore header .Info div*/
    padding: 0 5px;

}
/*/HEADER ###################################*/

/*MAIN*/
main{
    padding: 0 10%;
    padding-top: 50px;
}
section{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    flex-wrap: wrap;
}
.card{
    height: 300px;
    width: calc(100% / 3 - 20px);
    border: 3px solid black;
    margin: 10px;
    background-color: brown;
    flex-direction: column;
}
.img_container{
    background-color: grey;
    border: 2px solid black;
    height: 75%;
}

.img_container img{
    max-width: 100%;
}
.text_container{
    background-color: green;
    border: 2px solid red;
    flex-basis: 20%;
}

/*/MAIN ###################################*/

/*FOOTER*/
footer{
    background-color: black;
    color: white;
    padding: 0 10%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
.foot_sx{
    flex-basis: 400px;
}
.foot_sx h3{
    
}
.foot_sx > *{
}
.foot_dx{
    text-align: center;
}

.social_icons{
    flex-basis: 100%;
    justify-content: space-around;
}
/*/FOOTER ###################################*/