/*LAYOUT RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*/LAYOUT RESET ###############################*/

/*UTILITYS*/
/*/UTILITYS ###################################*/

/*HEADER*/
/*/HEADER ###################################*/

/*MAIN*/
/*/MAIN ###################################*/

/*FOOTER*/
/*/FOOTER ###################################*/