/*LAYOUT RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*/LAYOUT RESET ###############################*/

/*UTILITYS*/
.flex{ display: flex;}
/*/UTILITYS ###################################*/
body{}

/*HEADER*/
header{
    height: 50px;
    width: 100%;
    padding: 0 10%;
    background-color: orange;
    color: white;

    font-family: 'Baloo 2', sans-serif;
    font-weight: 600;

    border-bottom: 2px solid grey;
    position: fixed;
    display: flex;
    justify-content: space-between;
}
header .Categoria, header .Info{
    align-items: center;
}
header .Categoria div, header .Info div{
    /* di cui eliminerò il selettore header .Info div*/
    padding: 0 5px;

}
/*/HEADER ###################################*/

/*MAIN*/
main{
    padding: 0 10%;
    padding-top: 50px;
    background-color: yellowgreen;
}
section{
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{   
    background-color: red; 
    margin: 20px 10px;
    flex-basis: calc(100% / 3 - 10px);
}

.card_description, .card{
    flex-direction: column;
}
main section div img{   max-width: 100%;}

/*/MAIN ###################################*/

/*FOOTER*/
/*/FOOTER ###################################*/